h2.section-title Information Warfare Summit 11
p
  | This year's conference will be Wednesday, 3 October 2018 and located at the
  a(href="https://www.mntc.edu/bdc") Moore Norman Technology Center
  |  on the southside of OKC.  

p.container
  div.col-md-12
    div#location-panorama-image.location-image
      a(href='https://www.mntc.edu/bdc', alt='The Moore Norman Technology Center').location-image-overlay.one
      img(src='images/mooreNormanCenter.gif', alt='The Moore Norman Technology Center').location-image-src

br
p
  | Information Warfare Summit (IWS) is a conference that is a joint collaboration between ISSA OKC and
  a(href="https://www.infragardok.org/") InfraGard.

