h2.section-title Information Warfare Summit 11
p
  | This year's conference will be Wednesday, 3 October 2018 and located at the
  a(href="https://www.mntc.edu/bdc") Moore Norman Technology Center
  |  on the southside of OKC.  

p.container
  div.col-md-12
    //- div#location-panorama
      //- a(href='https://www.mntc.edu/bdc', alt='The Moore Norman Technology Center').location-image-overlay.one
      //-   div.location-image-overlay-label
      //-     | The Moore Norman Technology Center
      //- div#location-panorama-image.location-image
      //- img(src='images/mooreNormanCenter.png', alt='The Moore Norman Technology Center')#location-panorama-image-src.location-image-src
    div#location-panorama-image.location-image
      img(src='images/mooreNormanCenter.gif', alt='The Moore Norman Technology Center').location-image-overlay.one
br
p
  | Information Warfare Summit (IWS) is a conference that
  | is a joint collaboration between ISSA OKC and
  a(href="https://www.infragardok.org/") InfraGard.
  br
  a(href="https://www.issa.org/general/register_member_type.asp?") Join Now
  | or reach out to ISSA OKC leadership team today to get in on the latest and greatest updates 
  | to this conference and so much more local information security happenings and things. 
  | Also, iif you are interested in helping out, let us know!
