h2.section-title Information Warfare Summit!
p
  | Located at the
  a(href="https://www.mntc.edu/bdc") Moore Norman Technology Center
  |  in southside OKC.

p.container
  div.col-md-12
    div#location-panorama
      //- a(href='https://www.mntc.edu/bdc', alt='The Moore Norman Technology Center').location-image-overlay.one
      //-   div.location-image-overlay-label
      //-     | The Moore Norman Technology Center
      div#location-panorama-image.location-image
      img(src='images/mooreNormanCenter.png', alt='The Moore Norman Technology Center')#location-panorama-image-src.location-image-src
br
p
  | Information Warfare Summit (IWS) is a conference that has been going on in the OKC area now for 10 years.
  | It is a collaboration now between ISSA OKC and
  a(href="https://www.infragardok.org/") InfraGard
  | This conference happens every year during the fall period, Oct/Nov timeframe.  Join today to get in 
  | on the latest and greatest updates to this conference or if you are interested in helping out!
