p.container.info
  h2.section-title Upcoming Meetings!
  p.container
    | Please register for the next meeting on
    a(href="https://www.meetup.com/ISSA-OKC-meetup/") MeetUp
    | Members have exclusive access to trainings and more! 
    | Also, get great discounts at conference training like
    a(href="https://www.bsidesok.com/#training") BSidesOK 
    | Training.
