.container
  h2.section-title ISSA News
  p 
    | Stay up to date with
    a(href="https://www.issa.com/news/") ISSA

  p
    | Stay up to date with other news
    script(type="text/javascript" src="javascripts/rss.js")
      
      
