h2.section-title Join Today
.container
  p
    | ISSA OKC does not happen without its members.  Become a valued member today!
    | Many thanks to: John Robertson, Julie Johnson, 
    br
    .container
      p
        | If you'd like to join the
        a(href="https://www.issa.org/?page=AboutISSA") ISSA Team
        | please visit the link provided and learn more!
        | Or you can reach out to us directly if you have questions.
