doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    include _partial/head
  body(class=bodyclass)
    header
      //a.sponsor-cta(href="#sponsorship")
        //| Interested in Sponsoring?
      //| CFP Coming Soon 
      //br
      //a.cfp-cta(href="#cfp")
        //| Our CFP is Open!
      .buildings
        .intro
          block header
            h2
              = config.title
            h1
              a(href=config.root)
                = config.title
            h3
              | Welcome to the Oklahoma City Chapter of ISSA
            h3
              | Meetings are 3rd Wed every month
              //- sup th
            h3
              span.kapow
              | Speakers and Sponsors interested contact us today!
              span.kapow

        nav
          .container
            ul.row
              li.col-md-2
                a(href="#meetings") Meetings
              li.col-md-2
                a(href="#iws-conference") IWS
              li.col-md-2
                a(href="#news") News
              li.col-md-2
                a(href="#volunteer") Join Us
              li.col-md-2
                a(href="#contact") Contact
            a.scroll-hint(href="#iws-conference")

    #content
      block content

    footer
      include _partial/footer

    // Modal
    #modal-talks.modal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") &#215;
          .modal-body

    script(src="javascripts/retina.js", type="text/javascript")
